.nav-style {
    background-color: #ff8465;
}

.navbar-brand {
    color: black;
    font-weight: bolder;
    font-size: 24pt;
    font-family: 'Yeon Sung', cursive;
}

a.navbar-brand:hover {
    color: black;
}

.table-color {
    background-color: #ff8465;
}

.table .table-color th {
    color: black;
    background-color: #ffa365; 
}

.jumbotron {
    background-color: #ffba65;
}

.btn-color {
    background-color: #ffa365;
    border-color: #ffa365;
    font-weight: bolder;
    color: white;
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.05)
}

.btn-rounded {
    border-radius: 19px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 3px;
}

.style-circle {
    padding: 4px 8px;
    background-color: white;
    color: #ffa365;
}